.container {
    display: flex;
    justify-content: center;
}


/*********** Slider ***********************************************************************************************************/

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.eot");
    src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.eot");
    src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.eot");
    src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov-Bold.eot");
    src: url("../fonts/Volkhov-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Volkhov-Bold.woff2") format("woff2"), url("../fonts/Volkhov-Bold.woff") format("woff"), url("../fonts/Volkhov-Bold.ttf") format("truetype"), url("../fonts/Volkhov-Bold.svg#Volkhov-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.eot");
    src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    position: relative;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #5E6282;
    font-weight: 500;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}


/*********** Header ***********************************************************************************************************/

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    padding: 48px 0;
    transition: all .5s;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menu__link {
    position: relative;
    margin: 0 25px;
    color: #14183E;
    text-decoration: none;
}

.menu__link:hover::before {
    height: 3px;
    opacity: 1;
}

.menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    height: 0px;
    background: black;
    opacity: 0;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.header__login-link {
    position: relative;
    margin: 0 25px;
    color: #14183E;
    text-decoration: none;
}

.header__login-link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    height: 0px;
    background: black;
    opacity: 0;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.header__login-link:hover::before {
    height: 3px;
    opacity: 1;
}

.header__login-link-signup {
    padding: 9px 21px;
    border: 1px solid #212832;
    border-radius: 5px;
}

.header__login-link-signup:before {
    display: none;
}

.header__login-link-signup:hover {
    background: black;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header__language {
    position: relative;
}

.header__language-select {
    display: none;
}

.header__language .select-options {
    display: none;
}

.header__language .select-styled {
    padding-right: 17px;
    position: relative;
    color: #14183E;
    font-size: 17px;
    line-height: 25px;
    cursor: pointer;
}

.header__language .select-styled.active::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header__language .select-styled::before {
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/arrow.svg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header__language .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
}

.header__language .select-options li {
    cursor: pointer;
}


/*********** Intro ***********************************************************************************************************/

.intro {
    padding-bottom: 95px;
    padding-top: 105px;
    background-image: url(../img/intro-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.intro__content {
    width: 50%;
    padding-top: 115px;
}

.intro__content-subtitle {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
}

.intro__content-title {
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #14183E;
    font-family: "Volkhov", Times, serif;
    margin-bottom: 30px;
}

.intro__content-title-span {
    display: inline-block;
    position: relative;
}

.intro__content-title-span::after {
    content: "";
    width: 290px;
    height: 12px;
    background: url(../img/brush.svg) no-repeat;
    display: block;
    padding: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.intro__content-text {
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.intro__content-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.intro__content-links-item--more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 22px 14px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #F1A501;
    -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    height: 60px;
    width: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
}

.intro__content-links-item--more:hover {
    background: #835a02;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.intro__content-links-item--play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    text-decoration: none;
    color: #5E6282;
    height: 60px;
}

.intro__content-links-item--play:hover .button_img {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button_img {
    margin-left: 44px;
    margin-right: 21px;
    max-width: 52px;
    max-height: 52px;
}

.button_img:hover {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.intro__img {
    width: 50%;
}

.intro__img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 8px;
}

.head__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
    font-family: "Volkhov", Times, serif;
}


/*********** Categories ***********************************************************************************************************/

.categories {
    margin-bottom: 120px;
}

.categories__inner {
    position: relative;
}

.head {
    min-width: 100%;
}

.categories__bg {
    position: absolute;
    top: 10;
    right: 0;
    transform: translateX(-50%);
}

.categories__item {
    position: relative;
    display: flex;
    padding: 36px 35px 45px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.categories__item::before {
    width: 100px;
    height: 100px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-33px, 33px);
    background: #DF6951;
    border-radius: 30px 0px 10px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.categories__item:hover {
    background: #FFFFFF;
    border-radius: 36px;
}

.categories__item:hover::before {
    opacity: 1;
    visibility: visible;
}

.categories__items {
    display: flex;
    margin-top: 68px;
}

.categories__item-4 {
    margin-top: 7px;
}

.categories__item-title {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    margin: 29px 0 12px;
}

.categories__item-title-flight {
    margin: 15px 0 12px;
}

.categories__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.categories__item-text-costum {
    margin-top: 8px;
}


/*********** Dests ***********************************************************************************************************/

.dests {
    margin-bottom: 185px;
}

.dests__item {
    position: relative;
    margin: 0 24px;
    background: url(destination-1.png);
    border-radius: 24px;
    cursor: pointer;
}

.dests__item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s;
}

.dests__item-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px 25px 42px 20px;
    background: #fff;
    border-radius: 0 0 24px 24px;
    display: grid;
    grid-template-columns: 1fr 80px;
}

.dests__item-price {
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
}

.dests__item-time {
    margin-top: 10px;
    grid-column: 1 / span 2;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    display: flex;
    align-items: center;
}

.dests__item-time img {
    margin-right: 14px;
}

.dests__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
}

.dests__items {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}


/*********** Steps ***********************************************************************************************************/

.steps {
    margin-bottom: 200px;
}

.steps__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.steps__content {
    width: 58%;
    padding-left: 45px;
}

.steps__content-items {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    max-width: 395px;
}

.steps__content-item {
    display: flex;
    margin-bottom: 48px;
}

.steps__content-item:last-child {
    margin-bottom: 0;
}

.steps__content-item-img {
    margin-right: 20px;
}

.steps__content-item-text {
    display: flex;
    flex-direction: column;
}

.steps__content-item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
}

.steps__content-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    font-weight: normal;
}

.head1 {
    text-align: left;
    align-items: flex-start;
    max-width: 500px;
}

.head1__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 8px;
}

.head1__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
    font-family: "Volkhov", Times, serif;
}

.steps__img {
    position: relative;
    padding-right: 117px;
    top: 72px;
    margin-left: 90px;
}

.steps__img-big img {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 8%;
}

.steps__img-big {
    position: relative;
}

.steps__img-big:before {
    position: absolute;
    top: -59px;
    right: -44px;
    display: block;
    content: '';
    width: 354px;
    height: 367px;
    background: radial-gradient(#59B1E6 10%, transparent 75%);
    opacity: 0.8;
    z-index: -1;
    filter: blur(75px);
}

.steps__img-small {
    position: absolute;
    right: -43px;
    bottom: 50px;
    border-radius: 8%;
}

.steps__img-small img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 8%;
}


/*********** testemonials ***********************************************************************************************************/

.testimonials {
    margin-bottom: 500px;
}

.testimonials__slide {
    height: 245px;
    position: relative;
}

.testimonials__slider {
    width: 595px;
}

.slick-active {
    z-index: 99;
    opacity: 1;
}

.slick-slide {
    position: relative;
    z-index: 9;
    opacity: 0;
    transition: all .5s;
}

.slick-active+.slick-slide {
    transform: translate(50px, -160px);
    border: 2px solid #F7F7F7;
    border: 2px solid #f7f7f7;
    opacity: 1;
}

.testimonials__slide-content {
    background: transparent;
}

.slick-list {
    padding: 35px 50px 80px 40px;
    height: 580px !important;
}

.testimonials__inner {
    display: flex;
    justify-content: space-between;
}

.head {
    width: 50%;
}

.testimonials__slide-author {
    position: absolute;
    top: -34px;
    left: -37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.testimonials__slide-content {
    padding: 28px 34px 34px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}

.testimonials__slide-content-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 34px;
}

.testimonials__slide-content-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.testimonials__slide-content-city {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}


/*********** Partners ***********************************************************************************************************/

.partners {
    margin-bottom: 145px;
}

.partners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__item {
    width: 240px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.partners__item:hover {
    transition: all .5s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.partners__item-img {
    filter: grayscale(1);
    transition: all .5s;
}

.partners__item-img:hover {
    filter: grayscale(0);
}


/*********** form ***********************************************************************************************************/

.form {
    margin-bottom: 165px;
}

.form__inner {
    position: relative;
    padding: 175px 150px;
    background: #F7F6FD;
    border-radius: 129px 20px 20px 20px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__plan {
    position: absolute;
    right: -20px;
    top: -13px;
}

.form__lines1 {
    position: absolute;
    left: 13px;
    bottom: 0;
}

.form__lines2 {
    position: absolute;
    right: 0;
    top: 0;
}

.form__pluses {
    position: absolute;
    right: -100px;
    bottom: -70px;
}

.form__title {
    margin-bottom: 75px;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    text-align: center;
}

.form__form {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.form__form-input {
    width: 325px;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ff5f02;
    font-family: "Poppins"
}

.form__form-input-img {
    margin-right: 15px;
}

.form__form-input-wrapper {
    padding: 25px 30px 22px;
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
}

.form__form-button {
    /* background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%); */
    background: #FF7D68;
    border-radius: 10px;
    width: 180px;
    height: 68px;
    border: none;
    margin-left: 24px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Open Sans';
    transition: all .3s;
    cursor: pointer;
}

.form__form-button:hover {
    transform: scale(1.03);
    /* background: linear-gradient(180deg, #e44309 0%, #f1452a 100%); */
    background: #f1452a;
}

.form__form-button:active {
    transform: scale(0.9);
    /* background: linear-gradient(180deg, #e44309 0%, #f1452a 100%); */
    background: #af1a03;
}


/*********** footer ***********************************************************************************************************/


/* .form__inner {
position: relative;
padding: 175px 150px;
background: #F7F6FD;
border-radius: 129px 20px 20px 20px;
height: 407px;
display: flex;
flex-direction: column;
justify-content: center;
} */

.footer {
    margin-bottom: 120px;
}

.info {
    margin-top: 22px;
    width: 475px;
}

.discover {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 22px;
    width: 215px;
}

.discover__stores-item {
    width: 90px;
    margin: 0 5px 0 5px;
}

.discover__photos-photo {
    margin-left: 15px;
    margin-right: 15px;
}

.discover__photos {
    margin-bottom: 26px;
}

.discover__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.discover__photos {
    display: flex;
    justify-content: space-between;
}

.discover__stores {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 19px;
}

.footer__inner {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 700px;
}

.info__company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 110px;
    align-items: flex-start;
}

.info__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 110px;
    align-items: flex-start;
}

.info__more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 110px;
    align-items: flex-start;
}

.info__company-list {
    text-align: start;
}

.info__contact-list {
    text-align: start;
}

.info__more-list {
    text-align: start;
}

.info__company-list-item {
    margin-bottom: 12px;
}

.info__more-list-item {
    margin-bottom: 12px;
}

.info__contact-list-item {
    margin-bottom: 12px;
}

.jadoo {
    width: 210px;
    margin-right: 83px;
}

.footer__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #181E4B;
}

.footer__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
}

.info__company-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 34px;
}

.info__contact-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 34px;
}

.info__more-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 34px;
}

.info__company-list-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.info__contact-list-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.info__more-list-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.allrights {
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #5E6282;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
}


/*********** Responsive ***********************************************************************************************************/

@media(max-width: 1400px) {
    .steps__img-small img {
        width: 200px;
    }
    .steps__img-big img {
        width: 330px;
    }
    .steps__img {
        margin-right: 50px;
        margin-top: 40px;
    }
    /* *********** partners ************ */
    /* *********** form ************ */
    .form__pluses {
        display: none;
    }
    .form__title {
        font-size: 25px;
    }
    .form__inner {
        width: 900px;
    }
    /* *********** footer ************ */
    .footer__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .jadoo {
        margin-top: 150px;
        margin-left: 150px;
    }
    .info {
        margin-top: 150px;
    }
    .discover {
        margin-top: 150px;
    }
}

@media(max-width: 1250px) {
    /* *********** header ************ */
    .header {
        margin-left: 40px;
    }
    /* *********** intro ************ */
    .intro__img img {
        width: 400px;
        height: 473px;
        margin-top: 90px;
    }
    .intro__img {
        justify-content: center;
        display: flex;
    }
    .intro__content-subtitle {
        font-size: 15px;
    }
    .intro__content-title {
        font-size: 50px;
    }
    .intro__content-title-span {
        font-size: 48px;
        width: 130px;
    }
    .intro__content-text {
        font-size: 14px;
    }
    .intro__inner {
        margin-left: 50px;
    }
    /* *********** categories ************ */
    .categories__bg {
        display: none;
    }
    .head__title {
        font-size: 40px;
    }
    .categories__item-img img {
        max-width: 50px;
    }
    .categories__item {
        width: 260px;
    }
    .airplane__photo {
        margin-bottom: 30px;
    }
    /* *********** dests ************ */
    .dests__items {
        flex-wrap: wrap;
    }
    .dests__item {
        margin-bottom: 30px;
    }
    /* *********** partners ************ */
    .partners__inner {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* *********** form ************ */
    .form__inner {
        width: 600px;
    }
    .form__plan {
        width: 45px;
    }
    .form__title {
        font-size: 18px;
    }
    .form__form-button {
        min-width: 80px;
        height: 50px;
        font-size: 10px;
    }
    .form__form-input-wrapper {
        height: 50px;
    }
    .form__form-input-img {
        height: 15px;
    }
    .form__form-input {
        height: 15px;
    }
}

@media(max-width: 1100px) {
    /* *********** Header ************ */
    .menu__link {
        font-size: 15px;
    }
    .header__login-link {
        font-size: 15px;
    }
    .header__logo-link img {
        width: 110px;
    }
    /* *********** intro ************ */
    .intro {
        padding-bottom: 170px;
    }
    .intro__img {
        justify-content: center;
        display: flex;
        display: none;
    }
    .intro__content-subtitle {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .intro__content-title {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .intro__content-title-span {
        font-size: 48px;
        width: 130px;
    }
    .intro__content-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .intro__content-links-item {
        margin-top: 10px;
        font-size: 15px;
        width: 150px;
    }
    .intro__inner {
        margin-left: 50px;
        width: 800px;
    }
    .intro__content {
        width: 800px;
    }
    /* *********** categories ************ */
    .categories__bg {
        display: none;
    }
    .head__title {
        font-size: 40px;
    }
    .categories__item-img img {
        max-width: 30px;
    }
    .categories__item {
        width: 260px;
    }
    .categories__item-title {
        font-size: 16px;
    }
    .categories__item-text {
        font-size: 15px;
    }
    .airplane__photo {
        margin-bottom: 20px;
    }
    .categories__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /* *********** dests ************ */
    .head1__title {
        font-size: 30px;
    }
    .head1__subtitle {
        font-size: 15px;
    }
    .steps__content-item-img img {
        width: 35px;
    }
    .steps__content-item-title {
        font-size: 12px;
    }
    .stels__content-item-desc {
        font-size: 14px;
    }
    /* *********** partners ************ */
    /* *********** form ************ */
    /* *********** footer ************ */
    .info__company {
        align-items: center;
    }
    .info__contact {
        align-items: center;
    }
    .info__more {
        align-items: center;
    }
    .info__company-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__more-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 980px) {
    /* *********** Header ************ */
    .menu__link {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .header__login-link {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .header__logo-link img {
        width: 100px;
    }
    /* *********** intro ************ */
    .intro__inner {
        margin-left: 50px;
        width: 600px;
    }
    .intro__content {
        width: 600px;
    }
    /* *********** categories ************ */
    /* *********** dests ************ */
    .steps__inner {
        flex-wrap: wrap;
        margin-left: 80px;
    }
    .steps__img {
        margin-left: 120px;
    }
    .steps__content {}
    .head1 {
        width: 700px;
    }
    /* *********** partners ************ */
    /* *********** form ************ */
}

@media(max-width: 820px) {
    /* *********** Header ************ */
    .header {
        margin-left: 10px;
    }
    .header__logo {
        margin-left: 40px;
    }
    .menu__link {
        font-size: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .header__login-link {
        font-size: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .header__logo-link img {
        width: 80px;
    }
    /* *********** intro ************ */
    /* *********** categories ************ */
    /* *********** dests ************ */
    .steps__content {
        padding: 0;
    }
    .steps__inner {
        margin-left: 30px;
    }
    .steps__img {
        margin-left: 60px;
    }
    /* *********** partners ************ */
    /* *********** form ************ */
    .form__inner {
        width: 320px;
        padding: 0;
    }
    .form__plan {
        width: 45px;
    }
    .form__title {
        font-size: 12px;
        width: 250px;
        margin-left: 40px;
        margin-top: 20px;
    }
    .form__lines1,
    .form__lines2 {
        width: 250px;
    }
    .form__form-button {
        min-width: 80px;
        height: 50px;
        font-size: 10px;
    }
    .form__form-input-wrapper {
        height: 50px;
        width: 190px;
    }
    .form__form-button {
        width: 50px;
    }
    .form__form-input-img {
        height: 15px;
    }
    .form__form-input {
        height: 15px;
    }
}

@media(max-width: 700px) {
    /* *********** Header ************ */
    .header__logo {
        margin-left: 30px;
    }
    .menu__link {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .header__login-link {
        font-size: 12px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .header__logo-link img {
        width: 80px;
    }
    /* *********** intro ************ */
    .intro__content-subtitle {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .intro__content-title {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 60px;
    }
    .intro__content-title-span {
        font-size: 40px;
        width: 100px;
    }
    .intro__content-text {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .intro__content-links-item {
        margin-top: 10px;
        font-size: 12px;
        width: 140px;
        line-height: 20px;
        height: 40px;
    }
    .intro__inner {
        margin-left: 50px;
        width: 600px;
    }
    .intro__content {
        width: 400px;
    }
    .button_img {
        width: 35px;
    }
    /* *********** categories ************ */
    .head__subtitle {
        font-size: 14px;
        margin: 0;
    }
    .head__title {
        font-size: 28px;
    }
    /* *********** dests ************ */
    .steps__content {
        width: 300px;
    }
    .teps__content-item-text {
        width: 100%;
        max-width: 400px;
    }
    .head1__subtitle {
        font-size: 12px;
    }
    .head1__title {
        font-size: 25px;
    }
    .stels__content-item-desc {
        width: 400px;
        height: 70px;
        font-size: 12px;
    }
    .steps__img {
        width: 350px;
    }
    /* *********** partners ************ */
    /* *********** form ************ */
    .info {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info__company {
        margin-top: 100px;
    }
    .info__contact {
        margin-top: 100px;
    }
    .info__more {
        margin-top: 100px;
    }
}

@media(max-width: 610px) {
    /* *********** Header ************ */
    .header__logo {
        margin-left: 10px;
    }
    .header__login {
        margin-bottom: 5px;
    }
    .menu__link {
        font-size: 10px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .header__login-link {
        font-size: 10px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .header__logo-link img {
        width: 60px;
    }
    /* *********** intro ************ */
    /* *********** categories ************ */
    /* *********** dests ************ */
    /* *********** partners ************ */
    /* *********** form ************ */
}

@media(max-width: 527px) {
    /* *********** Header ************ */
    .header {
        margin-left: 0px;
    }
    .header__logo {
        margin-left: 10px;
    }
    .menu__link {
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .header__login-link {
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .header__logo-link img {
        width: 60px;
    }
    /* *********** intro ************ */
    .intro__content-subtitle {
        font-size: 15px;
        margin-bottom: 10px;
        width: 340px;
    }
    .intro__content-title {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 60px;
        width: 300px;
    }
    .intro__content-title-span {
        font-size: 35px;
        width: 100px;
    }
    .intro__content-text {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .intro__content-links-item {
        margin-top: 10px;
        font-size: 12px;
        width: 120px;
        line-height: 20px;
        height: 40px;
    }
    .intro__inner {
        margin-left: 30px;
        width: 400px;
    }
    .intro__content {
        width: 300px;
    }
    .button_img {
        width: 35px;
    }
    .intro__content-title-span::after {
        display: none;
    }
    /* *********** categories ************ */
    .head__subtitle {
        font-size: 12px;
        margin: 0;
    }
    .head__title {
        font-size: 24px;
    }
    /* *********** dests ************ */
    .steps__img {
        display: none;
    }
    .head1__subtitle {
        font-size: 8px;
    }
    .head1__title {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    .stels__content-item-desc {
        width: 200px;
    }
    .head1 {
        width: 400px;
        display: block;
        flex-direction: column;
        text-align: center;
    }
    .steps__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* *********** partners ************ */
    .partners__item {
        margin-top: 120px;
    }
    /* *********** form ************ */
}

@media(max-width: 450px) {
    /* *********** Header ************ */
    .header__logo {
        margin-left: 10px;
    }
    .menu__link {
        font-size: 9px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .header__login-link {
        font-size: 9px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .header__logo-link img {
        width: 40px;
        margin-bottom: 4px;
    }
    /* *********** intro ************ */
    /* *********** categories ************ */
    /* *********** dests ************ */
    /* *********** partners ************ */
    /* *********** form ************ */
}

@media(max-width: 410px) {
    /* *********** Header ************ */
    .header__logo-link img {
        display: none;
    }
    .header__inner {
        margin-right: 15px;
    }
    /* *********** intro ************ */
    /* *********** categories ************ */
    /* *********** dests ************ */
    /* *********** partners ************ */
    /* *********** form ************ */
}